{{>layouts/header}}

<form class="container" action="/articles/update" method="post">
    <!-- id도 같이 숨겨서 던져줌  -->
    <input name="id" type="hidden" value="{{article.id}}"/>

    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{article.title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content">{{article.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <!--해당 게시글 상세 화면에서 Edit화면으로 넘어올 수 있기 때문에, back하면 상세 화면으로 돌아가야함 -->
    <a href="/articles/{{article.id}}">Back</a>
</form>